{
     "plugins": [
          [
               "babel-plugin-root-import",
               {
                    "rootPathPrefix": "src/",
                    "rootPathSuffix": "src/"
               }
          ]
     ]
}
